<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usn.labhub.user.mapper.ProjectTaskMapper">
    <insert id="insert" parameterType="com.usn.labhub.user.domain.entity.project.TaskRecord"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO lab_task(project_id, milestone_id, title, description, status, assignee_user_id,
            priority, due_date, block_reason, version, created_by, create_time, update_time)
        VALUES(#{projectId}, #{milestoneId}, #{title}, #{description}, #{status}, #{assigneeUserId},
            #{priority}, #{dueDate}, #{blockReason}, #{version}, #{createdBy}, #{createTime}, #{updateTime})
    </insert>
    <sql id="columns">
        t.id, t.project_id AS projectId, t.milestone_id AS milestoneId, m.name AS milestoneName,
        t.title, t.description, t.status, t.assignee_user_id AS assigneeUserId,
        u.username AS assigneeName, t.priority, t.due_date AS dueDate, t.block_reason AS blockReason,
        t.version, t.created_by AS createdBy, t.create_time AS createTime, t.update_time AS updateTime
    </sql>
    <sql id="filters">
        <if test="milestoneId != null and milestoneId != 0">AND t.milestone_id = #{milestoneId}</if>
        <if test="status != null">AND t.status = #{status}</if>
        <if test="assigneeUserId != null">AND t.assignee_user_id = #{assigneeUserId}</if>
        <if test="includeCanceled == false">AND t.status != 'CANCELED'</if>
    </sql>
    <select id="selectById" resultType="com.usn.labhub.user.domain.vo.project.TaskVO">
        SELECT <include refid="columns"/> FROM lab_task t
        LEFT JOIN lab_milestone m ON m.id=t.milestone_id AND m.project_id=t.project_id
        LEFT JOIN sys_user u ON u.id=t.assignee_user_id
        WHERE t.project_id=#{projectId} AND t.id=#{taskId}
    </select>
    <select id="selectVersionForUpdate" resultType="java.lang.Integer">
        SELECT version FROM lab_task
        WHERE project_id=#{projectId} AND id=#{taskId}
        FOR UPDATE
    </select>
    <select id="count" resultType="long">
        SELECT COUNT(*) FROM lab_task t WHERE t.project_id=#{projectId}<include refid="filters"/>
    </select>
    <select id="selectPage" resultType="com.usn.labhub.user.domain.vo.project.TaskVO">
        SELECT <include refid="columns"/> FROM lab_task t
        LEFT JOIN lab_milestone m ON m.id=t.milestone_id AND m.project_id=t.project_id
        LEFT JOIN sys_user u ON u.id=t.assignee_user_id
        WHERE t.project_id=#{projectId}<include refid="filters"/>
        ORDER BY ${sortColumn} ${sortOrder}, t.id ${sortOrder}
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <update id="updateDetails">
        UPDATE lab_task SET milestone_id=#{task.milestoneId}, title=#{task.title}, description=#{task.description},
            assignee_user_id=#{task.assigneeUserId}, priority=#{task.priority}, due_date=#{task.dueDate},
            version=version+1, update_time=#{task.updateTime}
        WHERE project_id=#{task.projectId} AND id=#{task.id} AND version=#{expectedVersion}
    </update>
    <update id="updateStatus">
        UPDATE lab_task SET status=#{targetStatus}, block_reason=#{blockReason}, version=version+1,
            update_time=#{updateTime}
        WHERE project_id=#{projectId} AND id=#{taskId} AND status=#{currentStatus} AND version=#{expectedVersion}
    </update>
</mapper>
